@model IEnumerable<FindYourMeal.Models.Restaurante>
@{
    ViewData["Title"] = "Restaurante";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Novo restaurante</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
    </tr>

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Tem certeza que deseja apagar?');">Apagar</a>
                </td>
            </tr>
        }
    }
</table>